<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>第3天课堂练习全选反选</title>
    <script type="text/javascript">
        var cks = document.getElementsByName("love");

        function check(obj){
            var flag = obj.checked;
            for(var p = 0; p < cks.length; p++){
                cks[p].checked = flag;
            }
        }

        function checkAll(){
            for(var i = 0; i < cks.length; i++){
//                cks[i].setAttribute("checked","true");
                cks[i].checked = true;
                document.getElementById("all").checked = true;
            }
        }

        function notCheck(){
            for(var j = 0; j < cks.length; j++){
                cks[j].checked = false;
//                cks[j].removeAttribute("checked");
                document.getElementById("all").checked = false;
            }
        }

        function opposite(){
            for(var k = 0; k < cks.length; k++){
                cks[k].checked = !cks[k].checked;//最简单的反选方法
                /*if(cks[k].checked == true){
                    cks[k].checked == false;
                }else{
                    cks[k].checked == true;
                }*/
                var ckds = document.getElementsByName("love");
                var length = ckds.length;
                var cou = 0;
                for(var t = 0; t < length; t++){
                    if(ckds[t].checked){
                        cou++;
                        if(length == cou){
                            document.getElementById("all").checked = true;
                        }
                    }else{
                        document.getElementById("all").checked = false;
                        break;
                    }
                }
            }
        }

        function chk(ck){
            if(ck.checked){
                var cks = document.getElementsByName("love");
                var len = cks.length;
                var count = 0;
                    for(var p = 0; p < len; p++){
                        if(cks[p].checked){
                            count++;
                            if(len == count){
                                document.getElementById("all").checked = true;
                            }
                        }else{
                            document.getElementById("all").checked = false;
                            break;
                        }
                    }
            }else{
                document.getElementById("all").checked = false;
            }
        }
    </script>
</head>
<body>
    <input type="checkbox" id="all" onclick="check(this)"/>全选<br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <input type="checkbox" name="love" onclick="chk(this)" /><br/>
    <button onclick="checkAll()">全选</button>
    <button onclick="notCheck()">全不选</button>
    <button onclick="opposite()">反选</button>
</body>
</html>