<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>第3天课堂练习替换删除节点</title>
</head>
<body>
    <ul>
        <li onclick="change()">北京</li>
        <li onclick="removeNd('gz');">上海</li>
        <li id="gz">广州</li>
    </ul>

    <ul>
        <li onclick="remove()">小时代1</li>
        <li>小时代2</li>
        <li>小时代3</li>
    </ul>
</body>
    <script type="text/javascript">
        function change(){
            var uls = document.getElementsByTagName("ul");
//            uls[0].replaceChild(uls[1].firstElementChild,uls[0].lastElementChild);
            uls[0].replaceChild(uls[1].firstElementChild,uls[0].firstElementChild);
        }

        //注意不要使用remove关键字，默认有remove()方法，删除当前节点
        function removeNd(id){
            var nd = document.getElementById(id);
            nd.parentNode.removeChild(nd);
        }
    </script>
</html>