<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JavaScript Math对象</title>
    <script type="text/javascript" src="../../../static/js/days02/write.js" />
    <script type="text/javascript">
        /*
         abs(x)------绝对值
        ceil(x)-------对一个数进行上舍入
        floor(x)------对一个数进行下舍入
        max(x,y)---返回最大值
        min(x,y)----返回最小值
        random()--返回一个0-1直接的随机数
        round(x)----对一个数进行四舍五入
         */

    </script>
</head>
<body>

</body>
</html>