<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>第2天第二题作业</title>
    <!--IE、Firfox兼容，Chrome、Opera不兼容-->

    <script type="text/javascript">
        function check(){
            window.open("work2_subsidiary.html","","width=400,height=300");
        }
    </script>

</head>
<body>
    <div>用户ID：<input id="id" type="text" readonly /></div>
    <div>用户姓名：<input id="name" type="text" readonly /></div>
    <div><input type="button" value="选择" onclick="check()"/></div>
</body>
</html>