<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>菜单</title>

    <link rel="stylesheet" type="text/css" href="../../../static/css/day01/link.css"/>
</head>
<body>
    <ul class="menu">
        <li>
            <a href="image.html" target="right"><span>图片的使用</span></a>
        </li>
        <li>
            <a href="link.html" target="right"><span>超链接</span></a>
        </li>
        <li>
            <a href="table.html" target="right"><span>表格</span></a>
        </li>
        <li>
            <a href="form.html" target="right"><span> 表单</span></a>
        </li>
    </ul>
</body>
</html>