<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>表格</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/day01/img.css"/>

    <script type="text/javascript">
        var i = 3;
//        alert(i > 2 && i < 4);//一定要用双&符号来表示
//        alert(i > 2 & i < 4);//结果为1
//        alert(!i);//i是非0为真，所以结果是false
        alert(typeof "a");//获取类型
        alert(typeof 'a' == "string");//判断类型
        alert(typeof 12);
        alert(typeof 1.2);
    </script>

</head>
<body>
    <table border="1px" class="ta">
        <caption>表格标题</caption>
        <thead>
            <tr><td>1</td><td>2</td><td>3</td></tr>
            <tr><td>4</td><td>5</td><td>6</td></tr>
            <tr><td>7</td><td>8</td><td>9</td></tr>
        </thead>
        <tbody>
            <tr><th>编号</th><th>姓名</th><th>性别</th></tr>
            <tr><td>1</td><td>幻想</td><td>女</td></tr>
            <tr><td>2</td><td>低调</td><td>男</td></tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>